<div class="col-md-6">
	<%= simple_form_for @tasks do |t| %>
		<p><%= t.input :title %></p>
		<p><%= t.select :priority, Task::TASK_PRIORITY, class: 'form-control' %></p>
		<p><%=  t.button :submit, class: 'btn btn-primary' %></p>
	<% end %>
</div>